@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat:wght@400;600;700&display=swap');


.Container{
    height:600px;
    width:100%;
}


.section1{
    color:white;
    height:700px;
    width:100%;
    display:flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
    
}
.btn{
    height:80px;
    width:80px;
    border-radius: 50%;
    border-color: white;
    background-color: black;
    border-style: solid;
    border-width: 0.3mm;
    display:flex; flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn img{
    height:25px;
    width:25px;
}
.img1{
    height:403.86px;
    width: 490px;
    margin-left: -5px;
}
.ketba{
    width:400px;

}

.ketba h1{
    color:white;
    font-family: 'Montserrat' , sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: auto;
}
.ketb1 p{
    color:white;
    font-family: 'Montserrat' , sans-serif;
    font-size: 12;
    line-height: auto;
    margin-left: -10px;
    
}
.section2{
    height:700px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



.slide {
    position: absolute;
    top: 0;
    width: 100%;
    transition: transform 1.3s ease, opacity 0.8s ease;
    opacity: 0;
    pointer-events: none;
}


.enter {
    transform: translateX(0);
    opacity: 1;
    position: relative;
    pointer-events: auto;
}


.exit-left {
    transform: translateX(-100%);
    opacity: 0;
}

.exit-right {
    transform: translateX(100%);
    opacity: 0;
}






@media screen and (max-width: 1200px) {
    .container {
        padding: 60px 0;
    }
    
    .section1 {
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
        margin-bottom: 40px;
        position: relative;
       
    }
    
    .img1 {
        order: 1;
        margin: 0 auto 30px;
        width: 80%;
        max-width: 400px;
        height: auto;
    }
    
    .ketba {
        order: 2;
        text-align: center;
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
    }
    
    .btn {
        position: absolute;
        top: 20px;
        right: 20px;
        margin: 0;
    }
    
    .section2 {
        padding-top: 40px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 40px 0;
        margin-bottom: 40px;
    }
    
    .section1 {
        padding: 80px 15px 40px;
        margin-bottom: 30px;
    }
    
    .section2 {
        padding-top: 30px;
        margin-top: 0;
        position: relative;
        top: 0;
        display: none;
    }
    
    .img1 {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 25px;
    }
    
    .ketba {
        padding: 0 10px;
    }
    
    .btn {
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        display: none;
    }
}
