@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat:wght@400;600;700&display=swap');


.Container{
    height:600px;
    width:100%;
}


.section1{
    color:white;
    height:700px;
    width:100%;
    display:flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
    
}
.btn{
    height:80px;
    width:80px;
    border-radius: 50%;
    border-color: white;
    background-color: black;
    border-style: solid;
    border-width: 0.3mm;
    display:flex; flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn img{
    height:25px;
    width:25px;
}
.img1{
    height:403.86px;
    width: 490px;
    margin-left: -5px;
}

.ketba h1{
    color:white;
    font-family: 'Montserrat' , sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: auto;
}
.ketb1 p{
    color:white;
    font-family: 'Montserrat' , sans-serif;
    font-size: 12;
    line-height: auto;
    margin-left: -10px;
    width:460px;
    height:0px;
}
.section2{
    height:700px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



.slide2 {
  position: absolute;
  top: 0;
  width: 100%;
  transition: transform 1.3s ease, opacity 0.8s ease;
  opacity: 0;
  pointer-events: none;
}


.enter2 {
transform: translateX(0);
opacity: 1;
position: relative;
pointer-events: auto;
}


.exit-left2 {
transform: translateX(100%);
opacity: 0;
}


.exit-right2 {
transform: translateX(-100%);
opacity: 0;
}


@media screen and (max-width: 480px) {
    .container {
        padding: 20px 0 40px;
    }
    
    .section1 {
        padding: 80px 10px 30px;
        margin-bottom: 10px;
    }
    
    .section2 {
        padding: 10px 10px 30px;
    }
    
    .img1 {
        max-width: 280px;
        margin-bottom: 25px;
    }
    
    .ketba h1 {
        font-size: 24px;
        margin-bottom: 12px;
    }
    
    .ketba p {
        font-size: 13px;
        margin-bottom: 20px;
    }
    
    .btn {
        top: 25px;
        height: 55px;
        width: 55px;
    }
    
    .btn img {
        height: 18px;
        width: 18px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 30px 0 60px;
        margin-bottom: 0;
        display: block;
        height:10000px;
    }
    
    .section1 {
        padding: 100px 15px 50px;
        margin: 0 0 20px;
        position: relative;
        min-height: auto;
    }
    
    .section2 {
        padding: 20px 15px 40px;
        margin-top: 0;
        position: relative;
        top: -700px;
        height: auto;
    }
    
    .img1 {
        width: 100%;
        max-width: 320px;
        height: auto;
        margin: 0 auto 30px;
        display: block !important;
    }
    
    .ketba {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 0 10px;
    }
    
    .ketba h1 {
        font-size: 28px;
        margin-bottom: 15px;
        line-height: 1.3;
    }
    
    .ketba p {
        width: 100%;
        height: auto;
        margin: 0 0 25px;
        font-size: 14px;
        line-height: 1.6;
    }
    
    .btn {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        height: 60px;
        width: 60px;
        z-index: 10;
        display: none;
    }
    
    .btn img {
        height: 20px;
        width: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 60px 0;
    }
    
    .section1 {
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
        margin-bottom: 40px;
        position: relative;
    }
    
    .img1 {
        order: 1;
        margin: 0 auto 30px;
        width: 80%;
        height: auto;
        max-width: 400px;
        display: block !important;
    }
    
    .ketba {
        order: 2;
        text-align: center;
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
    }
    
    .ketba h1 {
        font-size: 32px;
        margin-bottom: 15px;
    }
    
    .btn {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        height: 65px;
        width: 65px;
        display: none;
    }
}
