@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat:wght@400;600;700&display=swap');


.events-container {
text-align: center;
padding: 2rem;
margin-top: 00px;
}

.events-grid {
display: flex;
flex-direction: column;
gap: 2rem;
margin-top: 2rem;
}

.event-wrapper {
display: flex;
}

.event-wrapper.left {
justify-content: flex-start;
}

.event-wrapper.right {
justify-content: flex-end;
}

.event-card {
height:340px;
width:450px;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 70px;
display:flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
color:rgb(0, 0, 0);
box-shadow: 0 4px 10px rgba(0,0,0,0.3);

opacity: 0;
transform: perspective(800px) rotateX(80deg) translateY(50px) scale(0.9);

animation: flipRise 1.1s ease-out forwards;
animation-timeline: view();
animation-range: entry 0% cover 60%;

}
.event-card p{
    color:rgb(0, 0, 0);
    font-family: 'Montserrat' , sans-serif;
    font-size: 17px;
    line-height: auto;
    width:270px;
    height:140px;

}
.event-card h3{
    font-family: 'Montserrat' , sans-serif;
    font-size: 25px;
    line-height: auto;
    font-weight: bold ;
}
.event-card small{
    margin-top:0px;
}
@keyframes flipRise {
0% {
    opacity: 0;
    transform: perspective(800px) rotateX(80deg) translateY(50px) scale(0.9);
}
60% {
    opacity: 1;
    transform: perspective(800px) rotateX(-10deg) translateY(-10px) scale(1.03);
}
100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0deg) translateY(0) scale(1);
}
}

@media screen and (max-width: 768px){
    .events-container{
        margin-top:100px;
    }
    .event-card{
        height:280px;
        width:350px;
    }
    .event-wrapper.left {
        justify-content: center;
        }
        
        .event-wrapper.right {
        justify-content: center;
        }
}