@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat:wght@400;600;700&display=swap');

.home{
    height:450px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left{
    margin-left:50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
.left button{
    margin-top: 60px;
    height: 45.5px;
    width: 214px;
    border-radius: 40px;
    border: 2px solid rgb(255, 255, 255);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.home img{
    margin-right: 50px;
    height:403.86px;
    width: 490px;
    margin-top: 100px;
    border-radius: 80px;
    border-bottom-left-radius: 240px;
}
.left h1{
    color:white;
    font-family: 'Montserrat' , sans-serif;
    font-weight: bold;
    font-size: 46;
    line-height: auto;

}
.left p{
    color:white;
    font-family: 'Montserrat' , sans-serif;
    font-size: 12;
    line-height: auto;
}
.left button p{
    color:#000000;
    font-family: 'Montserrat' , sans-serif;
    line-height: auto;
    font-size: 12;
} 
.left button:hover p{
    color: #ffffff;

}
.left button:hover{
    background-color: #0DA0C8;
    transform: translateY(-3px);
}

/* Responsive Styles - Only affects screens smaller than desktop */
@media screen and (max-width: 1200px) {
    .home {
        flex-direction: column;
        height: auto;
        padding: 2rem 0;
    }
    
    .left {
        margin: 2rem auto;
        text-align: center;
        align-items: center;
        max-width: 90%;
    }
    
    .home img {
        margin: 2rem auto;
    }
}

@media screen and (max-width: 768px) {
    .left h1 {
        font-size: 36px;
    }
    
    .left p {
        font-size: 14px;
    }
    
    .home img {
        width: 100%;
        height: auto;
        max-width: 400px;
        margin: 2rem auto;
    }
    
    .left button {
        margin-top: 2rem;
        width: 180px;
    }
}

@media screen and (max-width: 480px) {
    .left h1 {
        font-size: 28px;
    }
    
    .left p {
        font-size: 12px;
    }
    
    .home img {
        max-width: 300px;
    }
    
    .left button {
        width: 160px;
        height: 40px;
    }
}



.left {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInLeft 1s forwards;
    animation-delay: 0.3s; 
}

@keyframes slideInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.home img {
    animation: floatImage 3s ease-in-out infinite alternate;
}

@keyframes floatImage {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}


.left h1, .left p, .left button {
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeSlide 1s forwards;
}

.left h1 { animation-delay: 0.5s; }
.left p { animation-delay: 0.8s; }
.left button { animation-delay: 1.1s; }

@keyframes fadeSlide {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

