@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat:wght@400;600;700&display=swap');


.register{
    color:white;
    height:1000px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
    margin-top:100px;
}
.f_input input {
    height:72px;
    width:524px;
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: 40px;
    border-color: white;
    padding: 12px 16px;
    
}
.f_input{
    display:flex;
    flex-direction: row;
    gap:20px;
}
.f_input input ::placeholder{
    text-align: left;
}
.register select{
    height:72px;
    width:1058px;
    background-color: black;
    color:white;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius:40px;
    padding:20px;
}


textarea {
    width: 1058px;
    height: 300px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 40px;
    background: transparent;
    color: white;
    font-size: 16px;
    resize: none;
}
.register button{
    color:rgb(0, 0, 0);
    background-color: white;

}
.amine{
    color:white;
    font-family: 'Montserrat' , sans-serif;
    font-weight: light;
    font-size: 30px;
    line-height: auto;
}


/* Responsive Styles */

/* Laptop (1200px and below) */
@media screen and (max-width: 1200px) {
    .register select,
    textarea {
        width: 90%;
        max-width: 900px;
    }
    
    .f_input {
        width: 90%;
        max-width: 900px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .f_input input {
        width: 100%;
        max-width: 440px;
    }
}


@media screen and (max-width: 768px) {
    .register {
        height: auto;
        padding: 60px 20px;
        margin-top: 50px;
        gap: 30px;
    }
    
    .register select,
    textarea {
        width: 90%;
        height: 60px;
        font-size: 14px;
    }
    
    textarea {
        height: 200px;
    }
    
    .f_input {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    
    .f_input input {
        width: 100%;
        height: 60px;
    }
    
    .amine {
        font-size: 24px;
    }
}


@media screen and (max-width: 480px) {
    .register {
        padding: 40px 15px;
        margin-top: 30px;
        gap: 25px;
    }
    
    .register select,
    textarea,
    .f_input input {
        height: 50px;
        font-size: 14px;
        padding: 10px 15px;
    }
    
    textarea {
        height: 180px;
    }
    
    .f_input {
        gap: 15px;
    }
    
    .amine {
        font-size: 20px;
        padding: 0 10px;
    }
    
    .register button {
        width: 100%;
        max-width: 200px;
    }
    
    .register button p {
        padding: 8px 15px;
    }
}
