@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat:wght@400;600;700&display=swap');


.section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: center;
    gap:30px;
}
.texts p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12;
}
.texts h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24;
}
.section img{
    height: 45px ;
    width:  40px ;
}
.texts a {
    text-decoration-color: white;
}


@media screen and (max-width: 1200px) {
    .section {
        gap: 25px;
        padding: 0 15px;
    }
    
    .texts h2 {
        font-size: 20 !important;
    }
    
    .texts p {
        font-size: 11 !important;
    }
    
    .section img {
        height: 40px;
        width: 35px;
    }
}

/* Tablet (768px and below) */
@media screen and (max-width: 768px) {
    .section {
        gap: 20px;
        padding: 0 10px;
    }
    
    .texts h2 {
        font-size: 18 !important;
    }
    
    .texts p {
        font-size: 10 !important;
    }
    
    .section img {
        height: 35px;
        width: 30px;
    }
}


@media screen and (max-width: 480px) {
    .section {
        gap: 15px;
        padding: 0 5px;
    }
    
    .texts h2 {
        font-size: 16 !important;
    }
    
    .texts p {
        font-size: 9 !important;
    }
    
    .section img {
        height: 30px;
        width: 25px;
    }
}