@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat:wght@400;600;700&display=swap');


.statistics {
text-align: center;
color: rgb(255, 255, 255);
padding: 40px 0;
}


.stats-cards {
display: flex;
justify-content: center;
gap: 30px;
margin-top: 20px;
}

.stat-card {
background-color: rgba(255, 255, 255, 0.5);
border-radius: 15px;
width: 280px;
height:80px;
transition: transform 0.3s ease;
}

.stat-card:hover {
transform: scale(1.1);
}
.stat-card p{
margin-top:-20px;
font-family: 'Montserrat' , sans-serif;
}



